## environment
*/RSP/

## eclipse
.project
.pydevproject


## pip development
*/build/
dist/
rnaseqpipe.egg-info/
rnaseqpipe/rnaseqpipe/__pycache__/*
rnaseqpipe/rnaseqpipe/scripts/__pycache__/*
rnaseqpipe/rnaseqpipe/modules/__pycache__/*
rnaseqpipe/rnaseqpipe/config/__pycache__/*

rnaseqpipe/rnaseqpipe/modules/__pycache__/config.cpython-38.pyc
rnaseqpipe/rnaseqpipe/modules/__pycache__/prep.cpython-38.pyc

